<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.studyalarmmanager">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop" />

        <receiver
            android:name=".ListenAlarm"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="REMEMBER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ActivityTest"
            android:label="Tela de teste" />

        <activity
            android:name=".ActivityTestAlarm"
            android:label="Testando AlarmManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceByAlarmDateUndefined"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MultiThreadServiceByAlarmDateUndefined"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MyIntentServiceByAlarm"
            android:exported="false" />
    </application>

</manifest>